body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    color: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url(img/logo.jpg);
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    margin: 0; /* Remove qualquer margem do body */
    position: relative;
}

#info{
    color: #fff;
    padding: 10px;
    text-align: center;
    align-self: center;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro exato */
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* Coloca os itens do menu em linha */
    align-items: flex-start; /* Alinha o conteúdo no topo */
    padding-left: 20px; /* Adiciona um pouco de espaço à esquerda */
    padding-right: 20px; /* Adiciona um pouco de espaço à direita */
}

header ul li{
    display: inline;
}


header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    
}

header ul li a:hover{
    background-color: #555;
}

#descricao{
    margin: 20px;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
 
}

#contato h2{
    font-size: 28px;
    text-align: center;
}

#contato fieldset{
    border: 1px solid #c02121; /*usando para visualizar o fieldset */
    padding: 10px;
    margin: 10px;
    width: 420px;   /* Define a largura do fieldset */
    height: 280px;  /* Define a altura do fieldset */
    font-size: 16px;
}

#contato input[type="text"]{
    width: 95%;
    padding: 5px;
    margin: 5px;
}
#contato input[type="email"]{
    width: 95%;
    padding: 5px;
    margin: 5px;
}
#contato textarea{
    width: 95%;
    padding: 5px;
    margin: 5px;
}

address{
    font-style: normal;
    font-weight: 600;
    text-align: center;
}