<%- include('partials/header') %> 
    <header id="header-contato">
        <section id="contato-info">
            <h1>CONTATO</h1>
        </section>
        <%- include('partials/navbar') %>
    </header>

    <footer>
        <h2>FALE CONOSCO</h2>
        <p>Dúvidas, críticas ou sugestões? Entre em contato conosco, preenchendo o formulário abaixo.</p>
        
        <section id="contato"> 
              <h2>Contato</h2>
              <form id="form">
              <div class="mb-3">
                  <label for="name" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="name" placeholder="nome">
              </div>
  
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="email@exemplo.com">
              </div>

              <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder="119XXXXYYYY" maxlength="11">
              </div>
  
              <div class="mb-3">
                <label for="message" class="form-label">Mensagem</label>
                <textarea name="message" class="form-control" id="message" rows="3"></textarea>
              </div> 

              <div class="col-12" style="text-align: center; margin-bottom: 15px;">
                <button class="btn btn-primary" type="submit">Enviar</button>
              </div>
            </form>
        </section>

         <!-- Adicionar algo como links 
          <section id="social-media">
            <p>Facebook</p>
            <p>Instagram 2</p>
          </section> -->
<%- include('partials/footer') %>